{% extends "layout.html" %}

{% block body %}

<section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
        <form action="/" method="POST">
            <div
                class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:space-x-4 sm:space-y-0 space-y-4 sm:px-0 items-end">
                <div class="relative flex-grow w-full">
                    <label for="term" class="leading-7 text-sm text-gray-600">Terms</label>
                    <textarea name="term"
                        class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-transparent focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                        rows="10" cols="30"></textarea>
                </div>
                <button
                    class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Search</button>
            </div>
        </form>

    </div>

    <!-- table -->
    <div class="overflow-x-auto">
        <div class="min-w-screen flex items-center justify-center font-sans overflow-hidden">
            <div class="w-full lg:w-5/6">
                <div class="bg-white shadow-md rounded my-6">
                    <table class="min-w-max w-full table-auto">
                        <thead>
                            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-left">Term</th>
                                <th class="py-3 px-6 text-left">Rank South Africa</th>
                                <th class="py-3 px-6 text-left">Rank India</th>
                                <th class="py-3 px-6 text-left">Course</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">

                            {% for term in terms %}

                            <tr class="border-b border-gray-200 hover:bg-gray-100">
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                    <div class="flex items-center">
                                        <span class="font-medium">{{ term['name'] }}</span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">

                                        <span>{{ term['rank_sa'] }}</span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">

                                        <span>{{ term['rank_in'] }}</span>
                                    </div>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <div class="flex items-center">
                                        <a href="{{ term['course_url'] }}">
                                    
                                        <span>{{ term['course_name'] }}</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- table end -->

</section>

{% endblock %}